@page "/"
@using Services
@using global::Models
@using ChatClient.Models
@using MongoDB.Bson
@inject ChatService chatService;

<div class="row">
    <div class="col-3">
        <input style="width: 50%" type="text" @bind="@ChatRoomIdTemp">
        <button @onclick="@JoinChatRoom">Join ChatRoom</button>
    </div>
    <div class="col-6">
        <div style="overflow-y: scroll"> 
            @if (Messages.Any())
            {
                @foreach (var item in Messages)
                {
                    <p>@item.authorID: @item.message</p>
                }
            }
        </div>
        <div style=" position: fixed; bottom: 40px; width: 100%;">
            @if (MessageFragments.Any())
            {
                @foreach (var item in MessageFragments)
                {
                      <div style="width: 50%;">
                          <p style="overflow-x: fragments;">User @item.authorIdString.ToString() is typing: @item.message ......</p>
                      </div>
                  }
            }
        </div>
        <div style=" position: fixed; bottom: 0; width: 100%;">
            <input type="text" style="height: 40px; width: 50%;" @onkeyup="@KeyDown" @bind:event="oninput" @bind="@messageText"/>
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>
@code
{
    private string messageText;
    private string ChatRoomIdTemp;
    private bool isConnectedToChatRoom = false;
    private User user;
    private Message newMessage = new Message(null, null, null);
    private MessageFragment newMessageFragment = new MessageFragment();
    private List<MessageFragment> MessageFragments = new List<MessageFragment>();
    private List<Message> Messages = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        user = new User
        {
            username = "Test User",
            userId = ObjectId.GenerateNewId()
        };
        Console.WriteLine(user.userId.ToString());
        chatService.ConnectToServer();
        chatService.newMessage += this.DisplayNewMessage;
        chatService.newMessageFragment += this.DisplayNewMessageFragment;
    }

    public async Task JoinChatRoom()
    {
        if (!(ChatRoomIdTemp.Equals("")))
        {
            Console.WriteLine("what");
            await chatService.JoinChatRoom(ChatRoomIdTemp);
            isConnectedToChatRoom = true;
        }
    }
    public void sendMessage()
    {
        if (isConnectedToChatRoom)
        {
            Console.WriteLine("Sending message:" + messageText);
            newMessage.message = messageText;
            newMessage.authorID = user.userId.ToString();
            chatService.SendMessage(newMessage, ChatRoomIdTemp);
            messageText = "";
            newMessage.message = "";
            newMessageFragment.message = "";
            sendMessageFragment();
        }
    }

    public void sendMessageFragment()
    {
        if (isConnectedToChatRoom)
        {
            newMessageFragment.message = messageText;
            newMessageFragment.authorIdString = user.userId.ToString();
            chatService.SendMessageFragment(newMessageFragment, ChatRoomIdTemp);  
        }
    }

    public async void DisplayNewMessage(Message message)
    {
        Messages.Add(message);
        await InvokeAsync(() => StateHasChanged());
    }
    public async void DisplayNewMessageFragment(MessageFragment messageFragment)
    {
        try
        {
            MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
        }
        catch (Exception e)
        {

        }
        MessageFragments.Add(messageFragment);
        if (messageFragment.message.Equals(""))
        {
            try
            {
                MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
            }
            catch (Exception e)
            {
                
            }
        }
        await InvokeAsync(() => StateHasChanged());
    }
    protected void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            sendMessage();
        }
        else if(e.Key.Equals(" ") || e.Key.Equals("Backspace"))
        {
            sendMessageFragment();
        }
    }
}