@page "/"
@using Services
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using MongoDB.Bson
@inject IChatService chatService;
@inject IChatroomService chatroomService;
@inject IJSRuntime JsRuntime;
@inject IAccountService AccountService;
@inject NavigationManager Nav;
@attribute [Authorize]
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2">
            <div class="row no-gutters h-100 d-flex align-items-end usersidebar">
                <div id="userList" class="col-12 userScroll">
                    @if (currentChatroom != null)
                    {
                        @foreach (var item in currentChatroom.participants)
                        {
                            @try
                            {
                                <div class="row no-gutters user">
                                    <div class="col-12">
                                        <div class="username">
                                            <img class="img-fluid chatProfileImage" src="@item.PictureURL"/>
                                            @item.Username
                                            @if (!(item._id.Equals(user._id)))
                                            {
                                                <div style="float: right;" class="btn-group dropright justify-content-end">
                                                    <button type="button" class="optionsButton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <button type="button" class="menuButton" @onclick="(() => AddFriend(item._id))">Add as Friend</button>
                                                        @if (currentChatroom.owner.Equals(user._id) || user.role.Equals("admin"))
                                                        {
                                                            <button type="button" class="menuButton" @onclick="(() => RemoveFromChatroom(item._id))">kick User</button>
                                                        }
                                                    </div>
                                                </div>  
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            catch (Exception e)
                            {
                            }
                        }
                    }
                    <button class="backButton" @onclick="BackToHub">Back to Hub</button>
                    @if (currentChatroom != null)
                    {
                        @if (currentChatroom.type.Equals("private") || !(currentChatroom.owner.Equals(user._id)))
                        {
                            <button class="leaveButton" @onclick="LeaveChatroom">Leave Chatroom</button>
                        }
                        @if (currentChatroom.owner.Equals(user._id) || user.role.Equals("admin"))
                        {
                            <button class="leaveButton" @onclick="DeleteChatroom">Delete Chatroom</button>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row h-100">
                <div style="height: 10%;" class="row align-self-start titlebar w-100">
                    <div class="col-12">
                        <div class="chatroomTitle">
                            @if (currentChatroom != null)
                            {
                                @currentChatroom.name
                            }
                        </div>
                    </div>
                </div>
                <div style="height: 90%; max-height: 85vh;" class="row w-100">
                    <div style="height: 100%;" class="col-12">
                        <div style="height: 50%; max-height: 50%;"class="row w-100">
                            <div id="messages" class="messageBox w-100">
                                @if (Messages.Any())
                                {
                                    @foreach (var item in Messages)
                                    {
                                        <div>
                                            <p>
                                                @if (currentChatroom != null & isConnectedToChatRoom)
                                                {
                                                    @item.username
                                                }
                                                : @item.message
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div style="height: 40%;" class="row w-100">
                            <div id="messageFragments" class="messageFragmentBox w-100">
                                @if (MessageFragments.Any())
                                {
                                    @foreach (var item in MessageFragments)
                                    {
                                        <p>
                                            User
                                            @if (currentChatroom != null)
                                            {
                                                @item.username
                                            }
                                            is typing: @item.message ......
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                        <div style="height: 10%;" class="row d-flex align-items-end">
                            <div class="chatBox w-100">
                                @if (messageText.Length > charLimit)
                                {
                                    <label>Message too long, max 1000 characters.</label>  
                                }
                                <textarea class="chatInput" type="text" @onkeyup="@KeyDown" @bind:event="oninput" @bind="@messageText"></textarea>
                                 <button class="sendButton" @onclick="@sendMessage">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private List<Chatroom> Chatrooms = new List<Chatroom>();
    private Chatroom currentChatroom = null;
    private string chatRoomIDBuffer = "";
    private string messageText = "";
    private bool isConnectedToChatRoom = false;
    private Account user;
    private Message newMessage = new Message();
    private MessageFragment newMessageFragment = new MessageFragment();
    private List<MessageFragment> MessageFragments = new List<MessageFragment>();
    private List<Message> Messages = new List<Message>();
    private static int charLimit = 1000;

    protected override async Task OnInitializedAsync()
    {
        string userAsJson = await JsRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentUser");
        currentChatroom = chatroomService.GetCurrentChatroom();
        chatRoomIDBuffer = currentChatroom._id;
        if (currentChatroom == null)
        {
            Nav.NavigateTo("main", true);
        }
        if (!string.IsNullOrEmpty(userAsJson))
        {
            user = JsonSerializer.Deserialize<Account>(userAsJson);
            await chatService.ConnectToServer();
            Console.WriteLine("Connected to server");
        }
        chatService.newMessage += this.DisplayNewMessage;
        chatService.newMessageFragment += this.DisplayNewMessageFragment;
        chatService.chatroomUpdate += this.ChatroomUpdate;
        await ConnectToChatRoom();
        await GetUsersChatRooms();
        await JsRuntime.InvokeAsync<object>("scroll", "userList");
        await JsRuntime.InvokeAsync<object>("scroll", "messages");
    }

    public async Task AddFriend(string userID)
    {
        await AccountService.AddFriend(userID, user);
    }

    public async Task BackToHub()
    {
        await chatService.LeaveChatRoom(chatRoomIDBuffer);
        currentChatroom = null;
        isConnectedToChatRoom = false;
        await chatroomService.RemoveCurrentChatroom();
        await chatService.DisconnectFromHub();
        MessageFragments = new List<MessageFragment>();
        Messages = new List<Message>();
        chatRoomIDBuffer = "";
        Nav.NavigateTo("main");
    }

    public async void ChatroomUpdate(Chatroom chatroom)
    {
        currentChatroom = chatroom;
        if (chatroom == null)
        {
            await BackToHub();
        }
        else
        {
            foreach (var item in chatroom.participants)
            {
                if (item._id.Equals(user._id))
                {
                    await InvokeAsync(() => StateHasChanged());
                    return;
                }
            }
            await BackToHub();
        }
    }

    public async Task RemoveFromChatroom(string UserId)
    {
        await chatroomService.KickFromChatroom(UserId, currentChatroom._id);
    }

    public async Task GetUsersChatRooms()
    {
        Chatrooms = await chatroomService.GetUsersChatrooms(user._id);
        Console.WriteLine(Chatrooms.ToJson());
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task LeaveChatroom()
    {
        chatroomService.LeaveChatRoom(user._id, currentChatroom._id);
        currentChatroom = null;
        isConnectedToChatRoom = false;
        MessageFragments = new List<MessageFragment>();
        Messages = new List<Message>();
    }

    public async Task ConnectToChatRoom()
    {
        await chatService.JoinChatRoom(chatroomService.GetCurrentChatroom()._id);
        isConnectedToChatRoom = true;
        Messages = currentChatroom.messages;
    }

    public async Task sendMessage()
    {
        if (isConnectedToChatRoom)
        {
            if (messageText.Length > charLimit)
            {
                return;
            }
            newMessage.message = messageText;
            newMessage.authorID = user._id.ToString();
            newMessage.username = user.Username;
            await chatService.SendMessage(newMessage, currentChatroom._id);
            messageText = "";
            newMessage.message = "";
            newMessageFragment.message = "";
            sendMessageFragment();
        }
    }

    public async Task DeleteChatroom()
    {
        await chatroomService.DeleteChatRoom(currentChatroom._id);
    }

    public void sendMessageFragment()
    {
        if (isConnectedToChatRoom)
        {
            if (messageText.Length < 1000)
            {
                newMessageFragment.message = messageText;
                newMessageFragment.authorIdString = user._id;
                newMessageFragment.username = user.Username;
                chatService.SendMessageFragment(newMessageFragment, currentChatroom._id);  
            }
        }
    }

    public async void DisplayNewMessage(Message message)
    {
        Messages.Add(message);
        await InvokeAsync(() => StateHasChanged());
        await JsRuntime.InvokeAsync<object>("scroll", "messages");
    }

    public async void DisplayNewMessageFragment(MessageFragment messageFragment)
    {
        try
        {
            MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
        }
        catch (Exception e)
        {
        }
        MessageFragments.Add(messageFragment);
        if (messageFragment.message.Equals(""))
        {
            try
            {
                MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
            }
            catch (Exception e)
            {
            }
        }
        await InvokeAsync(() => StateHasChanged());
        await JsRuntime.InvokeAsync<object>("scroll", "messageFragments");
    }

    protected void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            sendMessage();
        }
        else
        {
            sendMessageFragment();
        }
    }
}