@page "/"
@using Services
@using global::Models
@using ChatClient.Models
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using Tier2.Model
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Connections
@inject ChatService chatService;
@inject IChatroomService chatroomService;
@inject IJSRuntime JsRuntime;
@attribute [Authorize]

<div class="row">
    <div class="col-3">
          @if (Chatrooms.Any())
          {
              @foreach (var item in Chatrooms)
              {
                  <div class="row">
                      <div class="cold-12">
                          <button type="button" @onclick="() => JoinChatRoom(item.ID)">@item.Name</button>
                      </div>
                      </div>
              }
          }
        
    </div>
    <div class="col-6">
        <div style="overflow-y: scroll"> 
            @if (Messages.Any())
            {
                @foreach (var item in Messages)
                {
                    <p>@item.authorID: @item.message</p>
                }
            }
        </div>
        <div style=" position: fixed; bottom: 40px; width: 100%;">
            @if (MessageFragments.Any())
            {
                @foreach (var item in MessageFragments)
                {
                      <div style="width: 50%;">
                          <p style="overflow-x: fragments;">User @item.authorIdString.ToString() is typing: @item.message ......</p>
                      </div>
                  }
            }
        </div>
        <div style=" position: fixed; bottom: 0; width: 100%;">
            <input type="text" style="height: 40px; width: 50%;" @onkeyup="@KeyDown" @bind:event="oninput" @bind="@messageText"/>
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>
@code
{
    private List<Chatroom> Chatrooms = new List<Chatroom>();
    private Chatroom currentChatroom = null;
    private string messageText;
    private bool isConnectedToChatRoom = false;
    private User user;
    private Message newMessage = new Message(null, null, null);
    private MessageFragment newMessageFragment = new MessageFragment();
    private List<MessageFragment> MessageFragments = new List<MessageFragment>();
    private List<Message> Messages = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        string userAsJson = await JsRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentUser");
        if (!string.IsNullOrEmpty(userAsJson))
        {
            user = JsonSerializer.Deserialize<User>(userAsJson);
            GetUsersChatRooms();
        }
        chatService.ConnectToServer();
        chatService.newMessage += this.DisplayNewMessage;
        chatService.newMessageFragment += this.DisplayNewMessageFragment;
    }

    public async Task GetUsersChatRooms()
    {
        Chatrooms = await chatroomService.GetUsersChatrooms();
    }
    
    public async Task JoinChatRoom(string ChatroomId)
    {
            Console.WriteLine($"Connected to chatroom: {ChatroomId}");
            currentChatroom = Chatrooms.First(chatroom => chatroom.ID.Equals(ChatroomId));
            await chatService.JoinChatRoom(ChatroomId);
            isConnectedToChatRoom = true;
    }
    public void sendMessage()
    {
        if (isConnectedToChatRoom)
        {
            Console.WriteLine("Sending message:" + messageText);
            newMessage.message = messageText;
            newMessage.authorID = user._id.ToString();
            chatService.SendMessage(newMessage, currentChatroom.ID);
            messageText = "";
            newMessage.message = "";
            newMessageFragment.message = "";
            sendMessageFragment();
        }
    }

    public void sendMessageFragment()
    {
        if (isConnectedToChatRoom)
        {
            newMessageFragment.message = messageText;
            newMessageFragment.authorIdString = user._id.ToString();
            chatService.SendMessageFragment(newMessageFragment, currentChatroom.ID);  
        }
    }

    public async void DisplayNewMessage(Message message)
    {
        Messages.Add(message);
        await InvokeAsync(() => StateHasChanged());
    }
    public async void DisplayNewMessageFragment(MessageFragment messageFragment)
    {
        try
        {
            MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
        }
        catch (Exception e)
        {

        }
        MessageFragments.Add(messageFragment);
        if (messageFragment.message.Equals(""))
        {
            try
            {
                MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
            }
            catch (Exception e)
            {
                
            }
        }
        await InvokeAsync(() => StateHasChanged());
    }
    protected void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            sendMessage();
        }
        else if(e.Key.Equals(" ") || e.Key.Equals("Backspace"))
        {
            sendMessageFragment();
        }
    }
}