@page "/"
@using Services
@using global::Models
@using ChatClient.Models
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using MongoDB.Bson
@using Tier2.Model
@using System.Runtime.CompilerServices
@inject ChatService chatService;
@inject IChatroomService chatroomService;
@inject IJSRuntime JsRuntime;
@inject IAccountService AccountService;
@attribute [Authorize]

<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                @if (currentChatroom != null)
                {
                    @foreach (var item in currentChatroom.participants)
                    {
                        @try
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="btn-group dropright">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ...
                                        </button>
                                        <div class="dropdown-menu">
                                            <button type="button" class="btn-sm" @onclick="(() => AddFriend(item._id))">Add as Friend</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        catch (Exception e)
                        {
                        }
                    }
                }
                <button @onclick="LeaveChatroom">Leave Chatroom</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <h3>
                    @if (currentChatroom != null)
                    {
                        @currentChatroom.name
                        <p>|</p>
                        @currentChatroom._id
                    }
                </h3>
            </div>
        </div>
        <div class="messageBox" style="overflow-y: scroll">
            @if (Messages.Any())
            {
                @foreach (var item in Messages)
                {
                    <div>
                        <p>
                            @if (currentChatroom != null & isConnectedToChatRoom)
                            {
                                @item.username
                            }
                            : @item.message
                        </p>
                    </div>
                }
            }

        </div>
        <div class="messageFragmentBox" style="position: fixed; bottom: 40px; width: 100%;">
            @if (MessageFragments.Any())
            {
                @foreach (var item in MessageFragments)
                {
                    <div style="width: 50%;">
                        <p style="overflow-x: fragments;">
                            User
                            @if (currentChatroom != null)
                            {
                                @item.username
                            }
                            is typing: @item.message ......
                        </p>
                    </div>
                }
            }
        </div>
        <div class="chatBox" style=" position: fixed; bottom: 0; width: 100%;">
            <input type="text" style="height: 40px; width: 50%;" @onkeyup="@KeyDown" @bind:event="oninput" @bind="@messageText"/>
        </div>
    </div>
</div>

@code
{
    private List<Chatroom> Chatrooms = new List<Chatroom>();
    private Chatroom currentChatroom = null;
    private string messageText;
    private bool isConnectedToChatRoom = false;
    private User user;
    private Message newMessage = new Message();
    private MessageFragment newMessageFragment = new MessageFragment();
    private List<MessageFragment> MessageFragments = new List<MessageFragment>();
    private List<Message> Messages = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        string userAsJson = await JsRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentUser");
        if (!string.IsNullOrEmpty(userAsJson))
        {
            user = JsonSerializer.Deserialize<User>(userAsJson);
            chatService.ConnectToServer();
        }
        currentChatroom = chatroomService.GetCurrentChatroom();
        chatService.newMessage += this.DisplayNewMessage;
        chatService.newMessageFragment += this.DisplayNewMessageFragment;
        ConnectToChatRoom();
        GetUsersChatRooms();
    }

    public async Task AddFriend(string userID)
    {
        AccountService.AddFriend(userID);
    }

    public async Task GetUsersChatRooms()
    {
        Console.WriteLine("What is going on.....");
        Chatrooms = await chatroomService.GetUsersChatrooms(user._id);
        Console.WriteLine(Chatrooms.ToJson());
        Console.WriteLine("Chatrooms are done and so am I");
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task LeaveChatroom()
    {
        chatroomService.LeaveChatRoom(user._id, currentChatroom._id);
        currentChatroom = null;
        isConnectedToChatRoom = false;
        MessageFragments = new List<MessageFragment>();
        Messages = new List<Message>();
    }

    public async Task ConnectToChatRoom()
    {
        await chatService.JoinChatRoom(chatroomService.GetCurrentChatroom()._id);
        isConnectedToChatRoom = true;
        Messages = currentChatroom.messages;
    }

    public async Task sendMessage()
    {
        if (isConnectedToChatRoom)
        {
            Console.WriteLine("Sending message:" + messageText);
            newMessage.message = messageText;
            newMessage.authorID = user._id.ToString();
            newMessage.username = user.Username;
            await chatService.SendMessage(newMessage, currentChatroom._id);
            messageText = "";
            newMessage.message = "";
            newMessageFragment.message = "";
            sendMessageFragment();
        }
    }

    public void sendMessageFragment()
    {
        if (isConnectedToChatRoom)
        {
            newMessageFragment.message = messageText;
            newMessageFragment.authorIdString = user._id;
            newMessageFragment.username = user.Username;
            chatService.SendMessageFragment(newMessageFragment, currentChatroom._id);
        }
    }

    public async void DisplayNewMessage(Message message)
    {
        Messages.Add(message);
        await InvokeAsync(() => StateHasChanged());
    }

    public async void DisplayNewMessageFragment(MessageFragment messageFragment)
    {
        try
        {
            MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
        }
        catch (Exception e)
        {
        }
        MessageFragments.Add(messageFragment);
        if (messageFragment.message.Equals(""))
        {
            try
            {
                MessageFragments.Remove(MessageFragments.First(fragment => fragment.authorIdString.Equals(messageFragment.authorIdString)));
            }
            catch (Exception e)
            {
            }
        }
        await InvokeAsync(() => StateHasChanged());
    }

    protected void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            sendMessage();
        }
        else if (e.Key.Equals(" ") || e.Key.Equals("Backspace"))
        {
            sendMessageFragment();
        }
    }
}